@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400|Josefin+Slab:400,600,700);
.header-container{
 background-image:url(../images/IMG_7690.jpg);
    height: 100vh;
}
.header-container h1 {
    padding-top:100px;
    text-align: center;
    text-transform:uppercase;
    font-family: 'Josefin Slab', serif;
    font-weight: 400;
    font-size: 50px;
    color: #000;
}
.header-container h1 a {
    color: #000;
}
.header-container h1 a:hover {
    text-decoration: none;
    color: #000;
}
.header-container h2 {
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
}
.header-menu {
  margin-top:6px; margin-left:30px;
}
/* Hide Dropdowns by Default
 * and giving it a position of absolute */
.header-menu ul  {
    display: none;
    position: absolute;
    top: 100%;
    background-color: #fff;
    padding-top:15px;
    padding-bottom:6px;
    padding-left: 5px;
    margin-left:0px;
    list-style-type: none;
}

/* Display Dropdowns on Hover */
.header-menu li:hover > ul {
    display:inherit;
}

/* Fisrt Tier Dropdown */
.header-menu ul li {
    min-width:170px;
    float:none;
    display:list-item;
    position: relative;

}
/* Change ' +' in order to change the Dropdown symbol */
li > a:after { content: " "; font-family: 'FontAwesome';}
li > a:only-child:after { content: ''; }

/* Second, Third and more Tiers
 * We move the 2nd and 3rd etc tier dropdowns to the left
 * by the amount of the width of the first tier.
*/
.header-menu ul ul {
    position: absolute;
    top:0;
    left:100%;
}

.header-menu ul li a{
  color:#000;
}
.header-menu ul li a:hover{
  color:#000;
  text-decoration:none;
}


Read more: http://webdesignerhut.com/css-dropdown-menu/#ixzz3f46gM4Z5
article {
 border-bottom-style: dashed;
border-bottom-width: 1px;
    border-bottom-color: #000;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 15px;
   padding-top:15px;
   padding-bottom:30px;
   margin-bottom:50px;
}
body{
  font-family: 'Lato', sans-serif;
  font-weight: 100;
}
.entry-content p:first-child:first-letter {
  float: left;
    color: #000;
    font-size: 79px;
    line-height: 44px;
    padding-top: 19px;
    padding-right: 3px;
    padding-left: 0px;
    font-family: 'Josefin Slab', serif;
    }
